{% extends 'delivery/base.html' %}
{% load cart_tags %}


<header>
    {% for i in buttons %}
    <p id="head"><a href="{% url i.url_name %}"><input id="input" type="button" value="{{ i.title }}"></a></p>
    {% endfor %}
</header>

{% block content_cart %}
<h1 id="title" >Корзина</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Фото</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Обновить количество</th>
            <th>Удалить</th>
            <th>Цена за единицу</th>
            <th>Общая стоимость</th>
        </tr>
        </thead>
        <tbody>
        {% for item in products %}
            {# with product=item.product #}
                <tr>
                    <td>
                        <a href="{{ item.get_absolute_url }}"><img src="{{ item.photo.url }}" width="50" height="50"></a>
                    </td>
                    <td><strong>{{ item.title }}</strong></td>
                    <td>
                        {{item|get_product_quantity:cart}}
                    </td>
                    <td>
                        <form id="head" action="{% url 'cart:cart_pop' item.pk %}" method="post">
                            <input id="button" type="submit" value="-">
                            {% csrf_token %}
                        </form>
                        <form id="head" action="{% url 'cart:cart_count' item.pk %}" method="post">
                            <input id="button" type="submit" value="+">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td>
                        <a href="{% url 'cart:cart_remove' item.pk %}"><input type="submit" value="Удалить"></a>
                    </td>
                    <td>{{ item.price }}</td>
                    <td>{{ item|total_element_price:cart }}</td>
                </tr>
            {# endwith #}
        {% endfor %}
        <tr class="total">
            <td>Всего</td>
            <td colspan="4"></td>
            <td><strong>{{ total_price }} руб.</strong></td>
        </tr>
        </tbody>
    </table>
    <div class="center" style="padding-top:100px;">
        <p id="button"><a href="{% url 'main_page' %}"><input id="input" class="input" type="button" value="В магазин"></a></p>
        <p id="button"><a href="{% url 'get_info' %}"><input id="input" class="input" type="button" value="Оформить заказ"></a></p>
    </div>

{% endblock %}