{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'delivery/css/base_styles.css' %}" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>

{% block content %}

<h1 class="center">{{ element.title }}</h1>

<div class="el-div">
    <p><img id="img-pose" class="el-img-size" src="{{ element.photo.url }}"></p>
    <div class="el-text-div" id="text-div">
        <p class="text">{{ element.about|linebreaks }}</p>
        <form id="button" class="button-el" action="{% url 'cart:cart_add' element.pk %}" method="post"><!--el.pk-->
            {% csrf_token %}
            <input id="input" class="input" type="submit" value="В корзину">
        </form>
    </div>
</div>


{% endblock %}

</body>
</html>