{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'delivery/css/base_styles.css' %}" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>

<header class="fixed">
    <p id="head" class="head-img"><a href="{% url 'main_page' %}"><img src="{% static 'delivery/img/logo.png' %}" width="170px" height="80px"></a></p>
    <div id="head" class="head-but">
    {% for i in buttons %}
    <p id="head"><a href="{% url i.url_name %}"><input id="input" type="button" value="{{ i.title }}"></a></p>
    {% endfor %}
    </div>
    <div id="head" class="cart">
        <div class="cart-mar-a">
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
        <a href="{% url 'cart:cart_detail' %}">
            {{ total_items }} товаров на {{ total_price }} pуб.
        </a>
        {% else %}
        <p class="cart-mar-p">Корзина пуста</p>
        {% endif %}
        {% endwith %}
        </div>
    </div>
</header>

{% block content %}

<h1 id="title" class="center">{{ title }}</h1>


<footer class="footer">
    {% for i in footer %}
    <div class="p-footer">
        <p id="head"><img class="footer-img-size" src="{% static i.photo %}"></p>
    </div>
    {% endfor %}
    <hr>
    <div>
        <div class="left-side">
        <h2>Самурай Джек</h2>
        <p>Время работы: 11:00 - 23:30</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
        <div class="right-side">
        <p>Свяжитесь с нами</p>
        <h2>+7 (861) 250-69-79</h2>
        <h2>+7 (988) 240-20-58</h2>
        <p>Напишите нам на почту:</p>
        <p><strong>info@jackjackkrd.ru</strong></p>
        </div>
    </div>
    <div>
        <p class="left-side">2023 г. «JackJackKrd.ru»</p>
        <p class="down-center-side"><a href="#">Политика конфиденциальности</a></p>
        <p class="down-right-side"><a href="#">Публичная оферта</a></p>
    </div>
</footer>
{% endblock %}

</body>
</html>